/* *****RESET***** */
:root {
    --color-extremes: #2c3e50;
    --color-jumbo-about: #1abc9c;
    --color-footer: #3a546d;
}

.ms_debug {
    border: 1px solid red;
}

/* *****GENERAL***** */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    color: var(--color-);
    text-decoration: none;
}

/* *******BODY*******  */
/* header  */

/* main  */

/* jumbo  */

#jumbo img {
    width: 250px;
    padding-bottom: 30px;
}

/* footer  */


/* *******UTILITIES*******  */
/* color  */
.ms_bg-extremes {
    background-color: var(--color-extremes);
}

.ms_bg-jumbo-about {
    background-color: var(--color-jumbo-about);
}

.ms_bg-footer {
    background-color: var(--color-footer);
}
.ms_jumbo-about {
    color: var(--color-jumbo-about);
}
/* utility  */
.ms_btn {
    display: inline-block;
    padding: 6px 12px;
}


.star-white, .star-black {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.star-white::before,
.star-white::after {
    content: "";
    width: 100px;
    height: 3px;
    background-color: white;
    border-radius: 20px;
}
.star-black::before,
.star-black::after {
    content: "";
    width: 100px;
    height: 3px;
    background-color: black;
    border-radius: 20px;
}
.card:hover::after {
    content: "\2b";
    font-family: 'Font Awesome\ 6 Free';
    font-weight: 900;
    font-size: xx-large;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#nav-burger a.nav-link {
    color: white;
}

#nav-burger a.nav-link:hover {
    color: var(--color-jumbo-about);
}

/* flex utility  */
.ms_d-flex {
    display: flex;
}

/* media query  */
/* @media screen and (max-width: 1200px) {}   */
/* @media screen and (max-width: 992px) {}  */
/* @media screen and (max-width: 768px) {}  */
/* @media screen and (max-width: 576px) {}  */